<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
  window.reef1 = "<%= asset_path("reef1.jpg") %>"
  window.reef = "<%= asset_path("reef.jpg") %>"
  window.reef3 = "<%= asset_path("reef3.jpg") %>"
  window.reef4 = "<%= asset_path("reef4.jpg") %>"
  window.fish1 = "<%= asset_path("fish1.jpg") %>"
  window.fish2 = "<%= asset_path("fish2.jpg") %>"
  window.logo = "<%= asset_path("marykelp.png") %>"
  window.blank = "<%= asset_path("blank-profile.png") %>"
  window.rightArrow = "<%= asset_path("right-arrow.png") %>"
  window.leftArrow = "<%= asset_path("left-arrow.png") %>"

</script>

<main id="root"></main>
